global:
  scrape_interval: 15s # Как часто собирать данные
  evaluation_interval: 15s # Как часто проверять правила алертов

scrape_configs: # Список целей для сбора
  # 1. Мониторинг самого Prometheus
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # 2. Мониторинг системы (через node-exporter)
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  # 3. Мониторинг вашего User Service
  - job_name: 'user-service'
    static_configs:
      - targets: ['user-service:8000']
    metrics_path: /metrics
    scrape_interval: 20s

  # 4. Мониторинг вашего Order Service
  - job_name: 'order-service'
    static_configs:
      - targets: ['order-service:8001']
    metrics_path: /metrics

  # 5. (ОПЦИОНАЛЬНО) Мониторинг состояния Elasticsearch
  - job_name: 'elasticsearch'
    static_configs:
      - targets: ['elasticsearch:9200']
    metrics_path: /_prometheus/metrics
